/data/log/*.log
/assets/release/bootstrap/css/frontend.css
/assets/release/bootstrap/css/login.css
/vendor/dojo
/vendor/composer
/vendor/container-interop
/vendor/doctrine
/vendor/bjyoungblood
/vendor/fortawesome
/vendor/gregwar
/vendor/http-interop
/vendor/myclabs
/vendor/paragonie
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/sebastian
/vendor/symfony
/vendor/twbs
/vendor/webmozart
/vendor/zendframework
/vendor/autoload.php
/.settings
/.buildpath
/.project
